<h1>Make your choice</h1><br>
<div *ngIf="products">
    <div class="shopping-cart" *ngFor="let product of products">
        <div class="column-labels">
        <label class="product-image">Image</label>
        <label class="product-details">Product</label>
        <label class="product-price">Price</label>
        <label class="product-quantity">Quantity</label>
        <label class="product-removal">Remove</label>
        <label class="product-line-price">Total</label>
        </div>
    
        <div class="product">
            <div class="product-image">
                <img src="https://dtpmhvbsmffsz.cloudfront.net/brands/2017/06/21/53d96e505632a028000002f4/m_594ab9155632a002ab00027d.jpg">
            </div>
            <div class="product-details">
                <div class="product-title"> {{product.name}} </div>
                <p class="product-description"> {{product.label}} </p>
            </div>
                <div class="product-price"> {{product.price}} </div>
            <div class="product-quantity">
                <input type="number" value="1" min="1">
            </div>
            <div class="product-removal">
                <button class="remove-product" (click)="DeleteFromBacket(product.id)">Remove </button>
            </div>
                <div class="product-line-price"> {{product.price}} </div>
            </div>
</div>    
            <div class="totals">
            <div class="totals-item">
                <label>Total</label>
                <div class="totals-value" id="cart-subtotal"> {{bascketPrice}} </div>
        </div>        
            <button class="checkout" [routerLink]="['/product']" style="background-color: blue">Back</button> <br>
            <button class="checkout" *ngIf="products.length > 0">Pay</button>
    </div>

<div *ngIf="products.length == 0 ">
    <h3>Bascket is empty!</h3>
</div>